@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    overflow-x:hidden;
}
.firstscreen{
    background-image: url(./img/Rectangle\ 2.png);
}
.firstscreen-logo{
    margin-left: 40px;
    padding-top: 11px;
    padding-bottom: 11px;
}
.firstscreenheader__container{
    background-color: rgb(0, 91, 193,0.6);
    display: flex;
    align-items: center;
}
li{
    list-style-type: none;
    padding: 0;
}
.link{
    color: white;
    text-decoration: none;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 14px;
}
.logo-link{
    margin-left: 7.62px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 600;
    max-width: 75px;
    line-height: 120%;
    letter-spacing: 3%;
    font-family: 'Titillium Web',sans-serif;
}
.firstscreen-logo{
    display: flex;
    max-width: 140px;
}
.firstscreen__topmenu{
    max-width: 1200px;
    margin: 0 auto;
}
.firstscreen__topmenu-list{
    display: flex;
    max-width: 454px;
    justify-content: space-between;
}
.firstscreen__topmenu-list>li:not(:last-child){
    margin-right:27.25px ;
}
.content{
    max-width: 1200px;
    margin: 0 auto;
}
.content-stripe{
    width: 444px;
    height: 720px;
    background-color: rgb(0, 91, 193,0.6);
}
.title{
    color: white;
    font-size: 48px;
    font-family: 'Oswald';
    font-weight: 400;
}
.firstscreen__content{
    display: flex;
}
.content-title{
    max-width: 635px;
    letter-spacing: 1%;
    margin-left: 41px;
}
.content__container{
    margin-left: -254px;
    margin-top: 202px;
}
.content-text{
    max-width: 445px;
    margin-top: 40px;
}
.text{
    color: white;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
}
.btn{
    padding: 15px 40px 15px 40px;
    background: transparent;
    border: 2px solid white;
    color: white;
    font-family: 'Open Sans';
    font-weight: 600;
    letter-spacing: 5%;
    cursor: pointer;
}
.content-btn{
    margin-top: 40px;
}
.slider__wrapper{
    margin-top: 150px;
}
.slider__item-img{
    max-width: 540px;
}
.wrapper-stripes{
    margin-right: 40px;
}
.wrapper__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom:40px ;
}
.stripes-item{
    display: block;
    width: 100px;
    height: 3px;
    background-color: #005bc1;
}
.stripes-item:nth-child(2){
    margin-left: 50px;
    margin-top: 13px;
    display: block;
    width: 50px;
    height: 3px;
    background-color: #005bc1;
}
.wrapper-title{
    color: #343434;
    text-transform: uppercase;
    font-size: 30px;
}
.container-btn{
    border-color: #005BC1;
    width: 55px ;
    height: 55px;
    padding: 0;
    background-image: url(img/arrow.svg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.container-btn:last-child{
    border-right: none;
    transform: rotate(180deg);
}
.container__title{
    display: flex;
    align-items: center;
}
.wrapper__slider{
    margin-top: 70px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.slider__slide{
    max-width: 540px;
}
.slider__slide .slide-item{
    max-width: 540px;
}
.slide-desc{
    top: -135px;
    left: 255px;
    position: relative;
    background-color: white;
    max-width: 250px;
    padding: 20px 25px 20px 25px;
}
.slide-title{
    font-size: 18px;
    font-weight: 400;
    color: #343434;
}
.slide-text{
    font-size: 14px;
    font-weight: lighter;
    color: #343434;
}
.catalog__choicer{
    max-width: 211px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 0 auto;
    margin-top: 70px;
}
.choicer-link{
    font-family: 'Oswald';
    color: #343434;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 5%;
}
.choicer-link:focus{
    color: #005bc1;
    text-decoration: underline;
}
.slider__item-img{
    max-width: 350px;
}
.catalog__slider{
    display: flex;
    justify-content: space-between;
    max-width: 1110px;
    margin: 0 auto;
    margin-top: 50px;
}
.catalogslide-desc{
    left: 100px;
    background-color: #005BC1;
    top: -105px;
    padding: 15px 21px 15px 21px;
}
.catalogslide-desc>h3{
    color: white;
}
.slider__item-link{
    text-decoration: none;
}
.rent-text{
    color: #343434;
    font-size: 18px;
    max-width: 350px;
    text-align: left;
    font-weight:100;
}
.rent__item{
    border: 3px #005BC1 solid;
}
.wrapper__wrapper{
    max-width: 1100px;
    justify-content: space-between;
    display: flex;
}