@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.firstscreen{
    background-image: url(./img/Rectangle\ 2.png);
}
.firstscreen-logo{
    margin-left: 40px;
    padding-top: 11px;
    padding-bottom: 11px;
}
.firstscreenheader__container{
    background-color: #005BC1;
    opacity: .6;
}